<style>
    .float-li{
        float: left;
    }
</style>
<div ng-controller="demo001Controller">
    <p><input type="submit" value="do GET" ng-click="doGet()"/></p>

    <p><input type="button" value="do POST" ng-click="doPost()"/></p>

    <p><input type="button" value="getStudentList" ng-click="getStudentList()"/></p>

    <ul>
        <li ng-repeat="student in studentList">
            <input type="text" ng-model="student.name"/>
            <input type="text" ng-model="student.age"/>
            <input type="text" ng-model="student.number"/>
        </li>
    </ul>

    <ul>
        <li ng-repeat="item in xList" ng-class="$index%2==0?'float-li':''">{{item.name}}</li>
    </ul>
</div>
