*{
    margin: 0px;padding: 0px; font-family:"Microsoft YaHei";
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
}
body{
    background-color:#eee;
}
.text-white{
    color:#fff;
    font-size: 25px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0px 12px 0px 12px;
    vertical-align: middle;
}
.header-icon{
    width: 21px;
    height: 21px;
    vertical-align: middle;

}
.btn-primary{
    background-color:#35ceaf;
    padding: 3px 4px;
    border: none;
    margin-left:10px;
}
.btn-primary:hover{
    background-color:#18a689;
    border-color:#18a689;
}
.btn1{
    padding: 5px 3px;
    margin-right: 8px;
    background-color:transparent;
}
.menu{
    background-color: #1ab394;
    box-shadow: 4px 2px 3px #888;
    margin-bottom: 0px;
}
#menu li a{
    color: #fff;

}
#menu li a i{
    vertical-align: middle;
    display: inline-block;
    padding: 0px 0px 8px 6px;
}
.ad{
    background-color: #dff0d8;
}
.alert{
    margin-bottom:0px;
    border: none;
    padding: 10px 15px;
}

.wrapper{
    padding: 30px 10px 40px;
}
.ibox{
    background-color: #fff;
    padding: 20px 20px 15px 20px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.00), 0 2px 1px -3px rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}
.text-h4{
    float: left;
    margin: 0px;
}
.text-span{
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-top: -12px;
}
.text-warning{
    font-size: 24px;
    color:#f8ac59;
}
.ibox-content{
    overflow: hidden;
    padding: 10px 0px 20px 0px;
}
.project-list{

}
.project-list table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 15px 10px;
    vertical-align: middle;
}
.index-backlog-icon{
    background: url(img/index-backlog.png) no-repeat 0px 0px;
    width: 41px;
    height: 41px;
    display: block;
}
.mission-icon{
    background-position: -69px -1px;
}
.border-top{
    border-top: 1px solid #e7eaec;
}
tbody.index-backlog tr td:first-child {
    width: 50px;
}
.text-navy{
    color:#1ab394!important;
}
.m-r-md{
    margin-right: 20px;
}
.achievement-block:hover{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.achievement-block {
    background-color: #f9f9f9;
    height: 78px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    margin-bottom: 20px;
}
.achievement-content{
    padding-top: 20px;
}
.achievement-icon{
    background: url("img/index-achievement.png") no-repeat 0px 0px;
    position: absolute;
    top: 0px;
    left: 11px;
    width: 45px;
    height: 28px;
}
.achievement-icon.icon-exam{
    background-position: 0px -80px;
}
.achievement-icon.icon-exercise{
    background-position: 0px 0px;
}
.achievement-icon.icon-course{
    background-position: 0px -120px;
}
.achievement-icon.icon-share{
    background-position: 0px -40px;
}
.font-eaxm{
    color:#1cc09f;
    font-size:24px;
}
.font-exercise{
    color:#23c6c8;
    font-size:24px;
}
.font-course{
    color:#4cace8;
    font-size:24px;
}
.font-share{
    color:#54cb7b;
    font-size:24px;
}
.font-span{
    display: inline-block;
    width: 70px;
    text-align: right;
}

.text-item{
    border-left:1px solid #e7eaec;
    padding-left: 12px;
    margin-left: 12px;

}
.inline{
    display: inline-block;!important;
}
.text-muted a{
    color:#888;
}
.text-success{
    color:#1ab394!important
}
.f12{
    font-size: 12px !important;
}
.text-navy{
    border-left: 1px solid  #e7eaec;
    border-right: 1px solid  #e7eaec;
    padding: 0px 5px;
    margin: 0px 5px;
}
.course-border-left{
    position: relative;
    left: -81px;
    width: 2px;
    height: 30px;
    border-left: 2px #1ab394 solid;
    top: 1px;
}
.relative{
    position: relative;
}
.icon-more{
    display: block;
    position: absolute;
    cursor: pointer;
    top:10px;
    rigth:0px

}
.ibox-right{
    margin: 0px;
}
.phb-tit{
    background-color:#f5f5f7;
    height: 45px;
    padding-top: 15px;
}
.col-xs-6 .lib{
    height: 15px;
    cursor: pointer;
}
.border-right{
    border-right: 1px solid #e7eaec;
}
.phb-tit span{
    display: block;
    padding-bottom: 10px;
}
.font14{
    font-size: 14px;

}
.font12{
    font-size: 12px;}
.on{
    color: #1ab394;
    border-bottom: 2px solid #1ab394;
}
.user-box {
    padding: 24px 20px 24px 20px;
    background-color: #eaf9f6;
}
.tx{
    width: 48px;
    height:48px;
    float: left;
}
.user-info{
    margin-left: 70px;
}
.text-lightgray{
    color:#999;
}
.fontnomal{
    font-weight: normal;
}
.margin-bottom{
    margin-bottom: 0px;
}
.m-b-none{
    margin-bottom: 0px;
}
.userbox{
    background-color: #fff;
    padding: 8px 20px 0px;
}
.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}
.php-icon{
    width:20px;
    height:20px;
    float:left;
    margin: 16px 14px 0 1px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}
.php-icon.one{
    background: url("img/jiangpai.png") no-repeat ;

}
.php-icon.two{
    background: url("img/jiangpai.png") no-repeat -1px -72px ;

}
.php-icon.three{
    background: url("img/jiangpai.png") no-repeat -1px -145px ;
}
.php-icon.four{
    background: url("img/jiangpai.png") no-repeat -1px -165px ;
}
.shopbox{
    padding:17px 0px;
}
.shop-img{
    width: 140px;
}
.calendar{
    padding-bottom: 17px;
}