<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haycm.dao.GoodDao">
	<insert id="insertGood" parameterType="com.haycm.entity.Good"
		flushCache="true">
		INSERT INTO good (longid, name , price , image_url ,
		description )
		VALUES
		(#{longId}, #{name}, #{price}, #{imageUrl} ,
		#{description})
	</insert>

	<select id="findGoodByName" parameterType="com.haycm.entity.Good"
		resultType="com.haycm.entity.Good">
		SELECT
		longid AS longId, name AS name , price AS price,
		image_url AS imageUrl ,
		description AS description FROM good WHERE name
		= #{name}
	</select>
	<select id="findGoodById" parameterType="com.haycm.entity.Good"
		resultType="com.haycm.entity.Good">
		SELECT
		longid AS longId, name AS name , price AS price,
		image_url AS imageUrl ,
		description AS description FROM good WHERE
		longid =
		#{longId}
	</select>

	<select id="findGoodsList" parameterType="com.haycm.entity.Page"
		resultType="com.haycm.entity.Good">
		select longid AS longId, name AS name , price AS price,
		image_url AS imageUrl ,
		description AS description FROM good limit
		#{startNum},#{pageSize}
	</select>

	<update id="updateGoodById" parameterType="com.haycm.entity.Good">
		UPDATE good SET
		name=#{name},
		price=#{price}, image_url=#{imageUrl},
		description=#{description} WHERE
		longid =
		#{longId}
	</update>

	<delete id="deleteGoodByName" parameterType="com.haycm.entity.Good">
		DELETE FROM good
		WHERE name = #{name}
	</delete>
</mapper>