<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haycm.dao.NewsDao">
	<insert id="insertNews" parameterType="com.haycm.entity.News"
		flushCache="true">
		INSERT INTO news ( longid , title , time ,author ,content)
		VALUES
		(#{longId},#{title},#{time},#{author},#{content})
	</insert>

	<select id="findNewsList" parameterType="com.haycm.entity.News"
		resultType="com.haycm.entity.News">
		select
		longid AS longId , title AS title , time AS time
		,author AS author ,content AS
		content
		FROM news limit #{startNum},#{pageSize}
	</select>

	<select id="findNewsByLongId" parameterType="com.haycm.entity.News"
		resultType="com.haycm.entity.News">
		SELECT longid AS longId , title AS title , time AS time
		,author AS author,content AS
		content FROM news WHERE longid=#{longId}
	</select>

	<update id="updateNewsByLongId" parameterType="com.haycm.entity.News">
		UPDATE news SET
		title=#{title}, time =#{time}, author=#{author}, content=#{content}
		WHERE
		longid=#{longId}
	</update>

	<delete id="deleteNewsByLongId" parameterType="com.haycm.entity.News">
		DELETE FROM news
		WHERE
		longid = #{longId}
	</delete>
</mapper>