<html ng-app>
<head>
    <title>test.html</title>
    <!--<link rel="stylesheet" href="./css/index.css" type="text/css"/>-->
    <script type="text/javascript" src="../js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="demo001-ctrl.js"></script>
    <script type="text/javascript" src="demo001-service.js"></script>
</head>

<body ng-controller="demo001Controller">
    <button ng-click="getFunction()">GET</button>
    <button ng-click="postFunction()">POST</button>
</body>
</html>
