<div ng-controller="dashboardCtrl">


    <p>{{testString}}</p>

    <p>
        <input type="button" value="post get" ng-click="openPage('demo001')"/>
    </p>

    <p>
        <input type="button" value="FormValidate" ng-click="openPage('demo002')"/>
    </p>

    <p>
        <input type="button" value="Ueditor" ng-click="openPage('demo003')"/>
    </p>

    <p>
        <input type="button" value="treeAnimation" ng-click="openPage('treeAnimation')"/>
    </p>
    <p>
        <input type="button" value="test List" ng-click="getList()"/>
    </p>

</div>


