body {
	width: 1000px;
	margin: 0 auto;
	background: #000 url("../image/bg.png") fixed center top;
}

.body-div {
	/* background: #000 url("../image/header-bg.png") fixed center top; */
	/* background-repeat: repeat-x; */ 
	width : 1000px;
	position: relative;
	margin-top: 20px;
	border: 1px solid red;
}

.nav-logo {
	width: 160px;
	height: 80px;
	background: url("../image/logo.png") no-repeat;
}