<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.dto.Menu">
    <insert id="add" parameterType="com.tao.dto.Menu"
            flushCache="true">
        INSERT INTO menu INSERT INTO menu (`title`)VALUES
        (#{title})
    </insert>

    <select id="find" parameterType="com.tao.dto.Menu"
            resultType="com.tao.dto.Menu">
        SELECT
        longid AS longId, name AS name , price AS price,
        image_url AS imageUrl ,
        description AS description FROM good WHERE name
        = #{name}
    </select>

    <select id="findList" parameterType="com.haycm.entity.Page"
            resultType="com.tao.dto.Menu">
        select longid AS longId, name AS name , price AS price,
        image_url AS imageUrl ,
        description AS description FROM good limit
        #{startNum},#{pageSize}
    </select>

    <update id="update" parameterType="com.tao.dto.Menu">
        UPDATE good SET
        name=#{name},
        price=#{price}, image_url=#{imageUrl},
        description=#{description} WHERE
        longid =
        #{longId}
    </update>

    <delete id="delete" parameterType="com.tao.dto.Menu">
        DELETE FROM good
        WHERE name = #{name}
    </delete>
</mapper>