<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.dao.Menu">
    <insert id="add" parameterType="com.tao.entity.MenuList"
            flushCache="true">
        INSERT INTO menuList INSERT INTO menuList (`title`)VALUES
        (#{title})
    </insert>

    <select id="find" parameterType="com.tao.entity.MenuList"
            resultType="com.tao.entity.MenuList">
        SELECT m.* FROM menuList m
        WHERE 1=1
        <if test="id !=null">
            AND m.id=#{id}
        </if>
        <if test="id !=null">
            AND m.title=#{title}
        </if>
        <if test="id !=null">
            AND m.create_time=#{createTime}
        </if>
        <if test="id !=null">
            AND m.creater_id=#{createrId}
        </if>
    </select>

    <select id="findList"
            resultType="com.tao.entity.MenuList">
        SELECT m.* FROM menuList m
        WHERE 1=1
        <if test="id !=null">
            AND m.id=#{id}
        </if>
        <if test="id !=null">
            AND m.title=#{title}
        </if>
        <if test="id !=null">
            AND m.create_time=#{createTime}
        </if>
        <if test="id !=null">
            AND m.creater_id=#{createrId}
        </if>
        <if test="startNum !=null and pageSize!=null">
            limit #{startNum},#{pageSize}
        </if>
    </select>

    <update id="update" parameterType="com.tao.entity.MenuList">
        UPDATE good SET
        name=#{name},
        price=#{price}, image_url=#{imageUrl},
        description=#{description} WHERE
        longid =
        #{longId}
    </update>

    <delete id="delete" parameterType="com.tao.entity.MenuList">
        DELETE FROM good
        WHERE name = #{name}
    </delete>
</mapper>