<div ng-controller="demo001Controller">
    <ul>
        <li ng-repeat="student in studentList">
            <input type="text" ng-model="student.name"/>
            <input type="text" ng-model="student.age"/>
            <input type="text" ng-model="student.number"/>
        </li>
    </ul>

    <!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain">
        这里写你的初始化内容
    </script>

    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container',{
            autoHeight: false
        });
    </script>
</div>
