div{
    border:1px solid black;
    float: left;
    background: #fff;
}
.top-menu-ad{
    width: 100%;
    margin-bottom: 20px;
}
.left-menu{
    width: 20%;
}
.main-ad{
    width: 60%;
}
.right-info{
    width: 18%;
}
.memu-item{
    margin-top: 20px;
    height: 60px;
}
.menu-third{
    margin-top: 10px;
}
.keyword-span{
    display: inline-block;
    margin-right: 20px;
}
.menu-detail{
    width: 0;
    height: 0;
    position: absolute;
    left:20%;
    top:0;
    display: none;
}
.menu-detail-act{
    display: block;
}
.menu-d-item{
    width: 500px;
    margin-top: 10px;
}
.big-ad{
    width: 100%;
    height: 400px;
}
.sm-ad{
    width: 100%;
    height: 200px;
}
.ad-cont{
    width: 24%;
    height: 98%;
}
.right-info{
    height: 600px;
}
.floor{
    width: 100%;
}
.floor-tab{
    float: right;
}
.clear{
    clear: right;
}
.floor-left-ad{
    width: 20%
}
.floor-sm-ad{
    width: 79%;
}
.ad-cont{
    width: 24%;
    height: 200px;
}
.floor-cont{
    margin-bottom: 20px;
}
.floor-foot-brand{
    width: 100%;
}
.brands{
    width: 12%;
    height: 140px;
}

.page-foot{
    width: 100%;
}
.cols{
    width: 19%;
    height: 200px;
    text-align: center;
}